.container {
  width: 100%

  height: 120px;
  position: relative;
  background: url(../static/images/Intro.jpg) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.buttons {
  position: absolute;
}
