{% extends 'main/base.html' %}

{% block title %}
Main
{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
  <div id="container">
    <span id = "title">
      <font id="blue">V</font>
      <font id="red">a</font>
      <font id="yellow">l</font>
      <font id="blue">e</font>
      <font id="green">r</font>
      <font id="red">a</font>
    </span>
    <p id="search"><input maxlength="25" size=70 value=""></p>
    <p><input id="button" type="submit" name="Submit" value="Поиск" /></p>
  </div>
{% endblock %}
