<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Main</title>
  <link rel="stylesheet" href="../../static/css/yadanil.css" type="text/css">
</head>
<body>
  <div id="container">
    <span id = "title">
      <font id="blue">V</font>
      <font id="red">a</font>
      <font id="yellow">l</font>
      <font id="blue">e</font>
      <font id="green">r</font>
      <font id="red">a</font>
    </span>
    <p id="search"><input maxlength="25" size=70 value=""></p>
    <p><input id="button" type="submit" name="Submit" value="Поиск" /></p>
  </div>
</body>
</html>
