{% extends 'main/base.html' %}

{% block title %}
Main
{% endblock %}

{% block style %}
<link rel="stylesheet" href="../../static/css/valera.css" type="text/css">
{% endblock %}

{% block content %}

<div class="main-page">

    <div class="top">
        <img class="Logo" src="../../static/images/logo.png" alt="Valera">
        <div class="loopa">
          &#128269;
        </div>
        <input class="Search" size="50" maxlength="2048" type="search" name="Searching Line" value="">
    </div>


    <div class="foot">

    </div>

</div>

{% endblock %}
