body {
    height: 60;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}

.top {
    position: relative;
    margin: 0 auto;
}

.Logo {
    background-color: white;
    width: 30%;
    margin-left: 35%;
    margin-top: 20%;
}

.Search {
    background: #ffffff !important;
    width: 50%;
    margin-top: 2.5%;
    margin-left: 25%;
    padding-top: 20px;
    border-color: gray;
    border-radius: 50px;
    outline: none;
    border: 1px solid gray;
}

.Search:focus {
  color: gray;
  border: 1px solid gray;
}
