body {
    height: 60;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}

.top {
    position: relative;
    margin: 0 auto;
    height: 440px;
}

.Logo {
    background-color: white;
    width: 30%;
    margin-left: 35%;
    margin-top: 20%;
}

.Search {
    background: #ffffff !important;
    width: 50%;
    margin-top: 2.5%;
    margin-left: 25%;
    border-color: rgba(128, 128, 128, 0.5);
    border-radius: 50px;
    outline: none;
    border: 1px solid rgba(128, 128, 128, 0.5);
    font-size: 16px;
    padding: 16px 32px;
    padding-top: 18px;
    padding-left: 55px;
    position: relative;
}
/*
.Search:focus {
  color: gray;
  border: 1px solid gray;
} */

.Search:hover {
  border-color: rgba(128, 128, 128, 0.9);
}

.magnifier {
  width: 24px;
  bottom: 0;
  left: 27%;
  position: absolute;
  z-index: 10;
  pointer-events: none;
}

.button {
  background-color: #F1F1F1;
  font-size: 24px;
  color: #AEAEAE;
  margin: 0 auto;
  border: solid #F1F1F1;
  border-color:  #F2F2F2;
  top: 120px;
  right: 374px;
  text-align: center;
  position: relative;
  border-radius: 50px;
  padding: 14px 32px;
  z-index: 15;
  outline: none;
}

.button:hover {
  background-color: #F7F7F7;
  color: #6E6E6E;
  border: solid #B7B7B7;
}


/* @media screen and (device-width: 1024px) {
    .loopa {padding: 44px 274px;} */
